//文字颜色
$font-title=#000000de
$font-brief=rgba(0,0,0,.54)
$font-item=#3c3c3c
$font-nav=#666
$font-red=red
$font-green=#259B24
//字体状态颜色
$font-state1=#259B24
$font-state2=#FF9800
$font-state3=red
$font-state4=#666
//主题颜色
$app-background=#259B24
//字体大小规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px



